<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processing>
      <sequenceFactory type="Sitecore.Support.Analytics.Processing.Tasks.MongoDbSequenceFactory2" singleInstance="true"
                       patch:instead="*[@type='Sitecore.Analytics.Processing.Tasks.MongoDbSequenceFactory2']">
        <param desc="connectionStringName">analytics</param>
      </sequenceFactory>
    </processing>
    <pathAnalyzer>
      <mapWorker type="Sitecore.Support.PathAnalyzer.Processing.Aggregation.MapWorker, Sitecore.Support.137656"
                 patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.Aggregation.MapWorker, Sitecore.PathAnalyzer']" />
      <newMapAggregator
        type="Sitecore.Support.PathAnalyzer.Processing.Aggregation.TreeAggregator, Sitecore.Support.137656"
        singleInstance="true"
        patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer']">
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/live" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
      </newMapAggregator>
    </pathAnalyzer>
    <aggregation>
      <aggregationContexts>
        <pathAnalyzer>
          <live type="Sitecore.Support.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.Support.137656"
                patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.PathAnalyzer']">
            <Pool ref="aggregationProcessing/processingPools/pathAnalyzerLive" />
            <Source ref="aggregation/collectionData" />
            <TreeDefinitionStores hint="list:AddDefinitionStore">
              <primary ref="pathAnalyzer/definitionStorage" />
              <secondary ref="pathAnalyzer/definitionStorageSecondary" />
            </TreeDefinitionStores>
            <TreeStores hint="list:AddTreeStore">
              <primary ref="pathAnalyzer/primaryStorage" />
              <secondary ref="pathAnalyzer/secondaryStorage" />
            </TreeStores>
          </live>
          <history type="Sitecore.Support.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.Support.137656"
                   patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.TreeAggregationContext, Sitecore.PathAnalyzer']">
            <Pool ref="aggregationProcessing/processingPools/pathAnalyzerHistory" />
            <Source ref="aggregation/collectionData" />
            <TreeDefinitionStores hint="list:AddDefinitionStore">
              <primary ref="pathAnalyzer/definitionStorage" />
              <secondary ref="pathAnalyzer/definitionStorageSecondary" />
            </TreeDefinitionStores>
            <TreeStores hint="list:AddTreeStore">
              <secondary ref="pathAnalyzer/secondaryStorage" />
            </TreeStores>
          </history>
        </pathAnalyzer>
      </aggregationContexts>
      <pathAnalyzerLiveAgent
        type="Sitecore.Support.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.Support.137656"
        patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.PathAnalyzer']">
        <Aggregator type="Sitecore.Support.PathAnalyzer.Processing.Aggregation.TreeAggregator, Sitecore.Support.137656"
                    singleInstance="true"
                    patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer']">
          <Mode>Live</Mode>
        </Aggregator>
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/live" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
        <MaximumBatchSize>128</MaximumBatchSize>
      </pathAnalyzerLiveAgent>
      <pathAnalyzerHistoryAgent
        type="Sitecore.Support.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.Support.137656"
        patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.Agents.TreeAggregatorAgent, Sitecore.PathAnalyzer']">
        <Aggregator type="Sitecore.Support.PathAnalyzer.Processing.Aggregation.TreeAggregator, Sitecore.Support.137656"
                    singleInstance="true"
                    patch:instead="*[@type='Sitecore.PathAnalyzer.Processing.TreeAggregator, Sitecore.PathAnalyzer']">
          <Mode>Historic</Mode>
        </Aggregator>
        <Context ref="aggregation/aggregationContexts/pathAnalyzer/history" />
        <DateTimeStrategy ref="aggregation/dateTimePrecisionStrategy" />
        <MaximumBatchSize>128</MaximumBatchSize>
      </pathAnalyzerHistoryAgent>
    </aggregation>
  </sitecore>
</configuration>